@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@400;700&display=swap');

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/* Fonts */
.montserrat{
    font-family: 'Montserrat',
    sans-serif;
}

.playfairdisplay{
    font-family: 'Playfair Display',
    serif;
}

/* Global */
body{
    background-color:#fff;
    color:#4F4F4F;
    padding:4rem 15rem 0 15rem;
}

/* Main */

/* Recipe Content */
.Recipe{
    margin-bottom:2rem;
}

.Recipe_title{
    color:#000000;
    font-size:3rem;
    font-weight:700;
    margin-bottom:0.75rem;
}

.Recipe_description>p{
    color:#4F4F4F;
    font-size:1rem;
    font-weight:500;
    width:65%;
}

/* Recipe Image */
.Recipe_image-container{
    margin-bottom:2rem;
    width:100%;
}

.Recipe_image-container-img{
    border-radius:12px;
    width:100%;
}

/* Recipe Details */
.Recipe_details-container{
    display:flex;
    flex-direction:row-reverse;
    justify-content: space-between;
}

/* Recipe Stats */
.Recipe_details-stats{
    border-radius:12px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    display:flex;
    flex-direction: column;
    height:320px;;
    justify-content: flex-start;
    padding:3.75rem 2.5rem;
}

.Recipe_details{
    align-items: center;
    display:flex;
    flex-direction: row;
    margin-bottom:1.5rem;
    width:100%;
}

.Recipe_details-details{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left:0.875rem;
}

.category{
    color:#BDBDBD;
    font-size:0.625rem;
    font-weight:700;
    margin-bottom:0.25rem;
    width:100%;
}

.value{
    color:#333333;
    font-size:0.875rem;
    font-weight:500;
    width:100%;
}

.material-icons{
    color:#4F4F4F;
    font-size:2rem;
}

.orange{
    color:#F2994A;
}


/* Recipe Details Breakdown : Ingredients and Steps */
.Recipe_details-breakdown{
    display:flex;
    flex-direction: column;
    width:70%;
}

/* Ingredients Container */
.Recipe_details-breakdown-ingredients{
    display:flex;
    flex-direction: column;
    margin-bottom:1.5rem;
}

.Recipe_details-breakdown-ingredients-title{
    color:#333333;
    font-size:1.5rem;
    font-weight:700;
}

.recipe-name{
    font-size:1.125rem;
    font-style:italic;
    font-weight:400;
    margin:2rem 0 1.2rem 0;
}

.recipe-ingredient-list{
    list-style: none;
}

.ingredient {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.8rem;
}

.checkbox {
    color:#828282;
    font-size: 1.5rem;
    margin-right:0.875rem;
}

.ingredient-item{
    font-size:1rem;
    font-weight:400;
}

/* Instructions */
.Recipe_details-breakdown-instructions{
    display:flex;
    flex-direction: column;
    margin-bottom:3rem;
}

.Recipe_details-breakdown-instructions-title{
    color:#333333;
    font-size:1.5rem;
    font-weight:700;
    margin-bottom:2rem;
}

.instructions-list{
    list-style: none;
}

.step{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom:2rem;
}

.step-number{
    background-color: #F2994A;
    border: none;
    border-radius: 6px;
    color:#fff;
    display:inline-block;
    height:36px;
    margin-right:1rem;
    width:5%;
}

.instruction{
    font-size:1rem;
    font-weight:400;
    display:inline-block;
    width:90%;
}

/* Source */
.Recipe_source{
    color:#BDBDBD;
    font-size:1rem;
    font-style: italic;
    font-weight:400;

}


/* Footer */
footer{
    display:flex;
    justify-content: center;
}

.footer-content{
    color:#A9A9A9;
    font-size:0.875rem;
    font-weight:600;
    margin:6rem 0 1rem 0;
}

@media only screen and (max-width:1300px){
    /* Global Styles */
    body{
        padding:2rem 5rem 0 5rem;
    }
}

@media only screen and (max-width:1000px){
    /* Global Styles */
    body{
        padding:2rem 3rem 0 3rem;
    }

    .Recipe_description>p {
        width: 90%;
    }

    /* Recipe Details */
    .Recipe_details-container {
        flex-direction: column;
        justify-content: flex-start;
    }

    .Recipe_details-stats {
        column-gap: 0.75rem;
        display: grid;
        grid-template-areas:
            "servings . ."
            "prep cook total";
        grid-template-columns: 1fr 1fr 1fr;
        height: auto;
        margin-bottom: 1.5rem;
        padding: 0.75rem 1rem;
        row-gap: 1rem;
    }

    .Recipe_details {
        margin-bottom: 0;
    }

    .servings {
        grid-area: servings;
    }

    .prep {
        grid-area: prep;
    }

    .cook {
        grid-area: cook;
    }

    .total {
        grid-area: total;
    }

    .Recipe_details-breakdown {
        width: 100%;
    }

}

@media only screen and (max-width:600px){
    /* Global Styles */
    body{
        padding:1rem 0.625rem 0 0.625rem;
    }

    /* Main */

    /* Recipe Content */
    .Recipe{
        margin-bottom:1.2rem;
    }

    .Recipe_title{
        font-size:1.5rem;
    }

    .Recipe_description>p{
        font-size:0.75rem;
        width:95%;
    }

    .Recipe_image-container{
        margin-bottom:1.5rem;
    }

    /* Recipe Details */
    .Recipe_details-container{
        flex-direction: column;
        justify-content: flex-start;
    }

    .Recipe_details-stats{
        column-gap: 0.75rem;
        display:grid;
        grid-template-areas:
        "servings . ."
        "prep cook total";
        grid-template-columns: 1fr 1fr 1fr;
        height:auto;
        margin-bottom:1.5rem;
        padding:0.75rem 1rem;
        row-gap: 1rem;
    }

    .Recipe_details{
        margin-bottom:0;
    }

    .Recipe_details-details{
        margin-left:0.5rem;
    }

    .category{
        font-size:0.5rem;
    }

    .value{
        font-size:0.625rem;
    }

    .material-icons{
        font-size:1.5rem;
    }

    .servings{
        grid-area: servings;
    }

    .prep{
        grid-area: prep;
    }

    .cook{
        grid-area: cook;
    }

    .total{
        grid-area: total;
    }

    .Recipe_details-breakdown{
        width:100%;
    }

    .Recipe_details-breakdown-ingredients-title{
        font-size:1.125rem;
    }   

    .recipe-name{
        font-size:1rem;
        margin:1.2rem 0 1.2rem 0;
    }

    .ingredient{
        margin-bottom:0.5rem;
    }

    .checkbox{
        font-size:1rem;
    }

    .ingredient-item{
        font-size:0.875rem;
    }

    /* Instructions */
    .Recipe_details-breakdown-instructions{
        margin-bottom:1.5rem;
    }

    .Recipe_details-breakdown-instructions-title{
        font-size:1.125rem;
        margin-bottom:1.5rem;
    }

    .step {
        margin-bottom: 1.2rem;
    }

    .step-number{
        width:10%
    }

    /* Source */
    .Recipe_source{
        font-size:0.8rem;
    }
}